{{#Pages}}
<nav
    id="paginator"
    data-pages="{{Count}}"
    data-current-page="{{CurrentPage}}"
    class="flex-vertical"
>
    <ul class="flex-horizontal">
        <li><a href="#" id="prev-page" aria-label="Previous page">&laquo;</a></li>
        <li><a href="#" id="next-page" aria-label="Next page">&raquo;</a></li>
    </ul>
    <form class="flex-horizontal" id="skip-to-page">
        <input type="number" min="1" max="{{Count}}" name="page" required aria-label="Page number" />
        <input type="submit" value="Go" />
    </form>
</nav>
{{/Pages}}
