:root {
    --jade-theme-jade: #00A86B;
    --jade-theme-pink: #D30060;
    --jade-theme-orange: #FBA700;
    --jade-theme-grey: #bababa;

    --jade-theme-font: 400 1rem Ubuntu, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Segoe UI Emoji", "Segoe UI Symbol";

    --jade-monospace-font: monospace;
    
    /* Default theme */
    --theme-font: var(--jade-theme-font);

    --primary-colour: var(--jade-theme-jade);
    --secondary-colour: var(--jade-theme-pink);
    --tertiary-colour: var(--jade-theme-orange);

    --regular-background-colour: white;
    --regular-text-colour: black;

    --background-primary: var(--primary-colour);
    --foreground-primary: black;
    --background-primary-active: color-mix(in srgb, var(--primary-colour), black 10%);

    --background-secondary: var(--secondary-colour);
    --foreground-secondary: white;
    --background-secondary-active: color-mix(in srgb, var(--secondary-colour), black 10%);

    --background-tertiary: var(--tertiary-colour);
    --foreground-tertiary: black;
    --background-tertiary-active: color-mix(in srgb, var(--tertiary-colour), black 10%);

    --shadow-colour: var(--background-primary);
    --coloured-shadow: 2px 2px 4px var(--shadow-colour);

    --disabled-background-colour: var(--jade-theme-grey);
    --disabled-foreground-colour: white;

    --background-success: green;
    --background-danger: #F32013;
    --foreground-danger: black;

    --background-code: #eaefea;

    --standard-shadow: 2px 2px 4px #00000066;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

table thead th {
    border: none;
    border-bottom: 2px solid var(--background-primary);
    text-align: start;
}

body {
    color: var(--regular-text-colour);
    background: var(--regular-background-colour);
    font: var(--theme-font);
    min-height: 100vh;
    margin: 0;

    display: grid;
    min-height: 100vh;
    margin: 0;
}

body:not(:has(>.sidebar)) {
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
body:has(>.sidebar) {
  grid-template-areas: "header header" "sidebar main" "footer main";
  grid-template-columns: 2fr 6fr;
  grid-template-rows: auto 1fr 30vh;
}


header, footer {
    flex-wrap: wrap;
}

footer {
    grid-area: footer;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;

    padding: 8px;
}

main {
    grid-area: main;
    flex: 1 0 auto;
    display: flex;
    padding: 8px;
}

.flex-vertical {
    display: flex;
    /*flex: 1 0 100%;*/
    flex-direction: column;
    gap: 4px;
}

.flex-vertical.grow > * {
    width: 100%;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.flex-horizontal-rev {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 2px;
}

.center-items {
    align-items: center;
}

#login-form {
    max-width: 500px;
}

form input, form label {
    padding: 8px;
}

button, input[type="submit"] {
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    padding: 8px;

    border: none;
    border-radius: 0px;
    transition: 250ms ease-in;
}

button:hover:not(:disabled), input[type="submit"]:hover:not(:disabled) {
    background-color: var(--background-primary-active);
    box-shadow: var(--coloured-shadow);
    cursor: pointer;

}

button:disabled, input:disabled {
    background-color: var(--disabled-background-colour);
    color: var(--disabled-foreground-colour);
}

.boxed-container {
    padding: 8px;
    max-width: 500px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;

    background-color: var(--background-primary);
}

header div, header li {
    display: flex;
}

header a {
    color: var(--foreground-primary);
    padding: 16px;
}

header a:hover {
    background-color: var(--background-primary-active);
}

header > div {
    flex: 1 1 auto;
}

header > nav {
    flex: 0 1 auto;
    align-self: end;
}

header > nav > ul {
    flex-direction: row;
    gap: 2px;
}

nav > ul > li {
    flex: 1 0 auto;
    padding: auto;
    display: flex;
}

nav > ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: inherit;
}

nav a {
    padding: 16px;
    width: 100%;
}

td, th {
    padding: 4px;
}

td.pass {
    background-color: var(--background-success);
}

td.fail {
    background-color: var(--background-danger);
}

code {
    background-color: var(--background-code);
    padding: 2px;
}

.style-secondary {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
}

.style-secondary a {
    color: var(--foreground-secondary);
}

.style-secondary a:hover {
    background-color: var(--background-secondary-active);
}

.sidebar {
    grid-area: sidebar;
    z-index: 50;
    min-width: 100px;
    margin: 4px;
    border-radius: 8px;
    position: sticky;
    max-height: 70vh;
    top: 0px;
    overflow-y: auto;
}
.sidebar ul {
    flex-direction: column;
}

.sidebar li {
    width: 100%;
    border-bottom: 2px solid white;
}

@media (max-width: 600px) {
    body:has(> .sidebar){
        grid-template-areas: "header" "sidebar" "main" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .sidebar {
        position: unset;
    }

}

.book-listing {
    width: 100%;
    gap: 4px;

    align-items: stretch;
}

.book {
    flex: 0 1 200px;
    width: 200px;
    gap: 0px;
}

.book:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.shadow:hover {
    box-shadow: var(--standard-shadow);
    transition: linear 150ms;
}

.book-box {
    padding: 8px;
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1 0 auto;
}

.book img {
    height: 250px;
    width: inherit;
    align-self: center;
}
.book * {
    max-width: 100%;
}

.book p {
    overflow-wrap: break-word;
}

.book a:has(div) {
    height: 100%;
}

.p-nopad p {
    margin: 0;
}

.flex-grow {
    flex: 1 1 auto;
}
.flex-shrink {
    flex: 0 1 auto;
}

.flex-nogap {
    gap: 0px;
}

.detail-section img {
    max-height: 250px;
}

.disabled {
    color: var(--disabled-background-colour);
}

.p8 {
    padding: 8px;
}



.book-details .header {
    margin-bottom: 8px;
}

.book-details .shadow:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.overlay-container {
    position: relative;
}

.default-hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}

select {
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    padding: 8px;
    border: none;
    border-radius: 0px;
}

*:disabled {
    background-color: var(--disabled-background-colour);
    color: var(--disabled-foreground-colour);
}

.popup-close-special {
    position: absolute;
    top: 0px;
    right: 0px;
}

details {
    border: 2px solid var(--background-secondary);
}

summary {
    padding: 8px;
    background: var(--background-secondary);
    color: var(--foreground-secondary);
}

details > div {
    padding: 8px;
}

details[open] summary {
    border-bottom: 2px solid var(--background-secondary);
}

dialog {
    border: 2px solid var(--background-secondary);

    min-width: 40vw;
    min-height: 40vh;
    max-height: 80vh;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.4;
}

hr {
    width: 100%;
    border-style: solid;
    color: var(--background-tertiary);
}

.tag::before {
    content: '#';
}
.tag {
    padding: 8px;
    border: 2px solid var(--background-secondary);
    border-radius: 4px;
}

.danger {
    background-color: var(--background-danger);
    color: var(--foreground-danger);
}
button.danger:hover {
    background-color: color-mix(in srgb, var(--background-danger), black 20%);
    color: white;
    box-shadow: var(--standard-shadow);
}

#paginator {
    align-items: center;
}
#paginator li:not(:has(a)) {
    padding: 16px;
}
#paginator li {
    flex: 0 1 auto;
}

#paginator a, #paginator a:visited {
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
}
#paginator a:not(:any-link) {
    background-color: var(--disabled-background-colour);
    color: var(--disabled-foreground-colour);
}
#paginator a:hover:any-link {
    background-color: var(--background-tertiary-active);
}

#paginator a.active, #paginator a.active:visited {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
}

#paginator a.active:hover:any-link {
    background-color: var(--background-secondary-active);
}
