<h1>Library</h1>

{{>templates/filter.mustache}}

<div class="book-listing flex-horizontal">
    {{#Books}}
    {{>templates/book.mustache}}
    {{/Books}}
    {{^Books}}
    <p class="error-message">No books found :(</p>
    {{/Books}}
</div>
<hr>
{{>templates/paginator.mustache}}
