<h1>{{Book.Title}}</h1>

{{#User.IsAdmin}}
    <dialog id="edit-dialog">
        <h2>Edit book</h2>
        <div class="flex-horizontal">
            <img src="/api/books/{{Book.ID}}/cover" class="flex-shrink" />
            <form class="flex-vertical flex-grow" id="edit-book">
                <label for="title">Title</label>
                <input name="title" type="text" value="{{Book.Title}}" />


                <label for="isbn">ISBN</label>
                <input name="isbn" type="text" value="{{#Book.ISBN}}{{.}}{{/Book.ISBN}}" />

                <label for="description">Description</label>
                <textarea name="description">{{#Book.Description}}{{.}}{{/Book.Description}}</textarea>

                <label for="authors">Authors</label>
                <input type="text" value="{{#Book.SAuthors}}{{.}}{{/Book.SAuthors}}" name="authors" />

                <label for="tags">Tags</label>
                <input type="text" value="{{#Book.STags}}{{.}}{{/Book.STags}}" name="tags"/>

                <div class="flex-horizontal grow">
                    <input type="submit" value="Update" class="flex-grow" />
                    <button id="close-edit-modal-btn" type="button" class="flex-grow danger">Cancel</button>
                </div>

                <input type="hidden" name="bookid" value="{{Book.ID}}" />
            </form>
        </div>
    </dialog>

{{/User.IsAdmin}}

<div class="book-details p-nopad">
    <div class="header style-secondary flex-horizontal-rev">
        {{#User.IsAdmin}}
        <a id="edit-book-btn" class="p8" href="#" aria-label="Edit book metadata" title="Edit metadata">
            ✏️
        </a>
        {{/User.IsAdmin}}
        <a class="p8" href="/api/books/{{Book.ID}}/download" target="_blank" download="true" aria-label="Download book" title="Download book">
            📥
        </a>
    </div>

    <div class="detail-section flex-horizontal">
        <aside class="flex-shrink">
            <a class="flex-vertical shadow flex-nogap" href="/books/{{Book.ID}}/reader.html">
                <img src="/api/books/{{Book.ID}}/cover" />
                <p class="book-box">Read</p>
            </a>
        </aside>
        <div class="flex-vertical">
            <div class="tag-container flex-horizontal">
                {{#Book.Tags}}
                <span class="tag" data-rawtag="{{Name}}"></span>
                {{/Book.Tags}}
            </div>
            {{#Book.Description}}
            <p>{{Book.Description}}</p>
            {{/Book.Description}}
            {{^Book.Description}}
            <p class="disabled">This book does not currently have a description</p>
            {{/Book.Description}}
        </div>
    </div>

</div>

