<html>
    {{>partials/head.mustache}}
    <body>
        {{>partials/header.mustache}}
        <main>
            {{&Content}}
        </main>
        {{>partials/footer.mustache}}
    </body>
</html>
