<!DOCTYPE html>
<html lang="en-GB">
    {{>partials/head.mustache}}
    <body>
        {{>partials/header.mustache}}
        <main class="flex-vertical">
            {{&Content}}
        </main>
        {{#Special.Sidebar}}
        {{>partials/sidebar.mustache}}
        {{/Special.Sidebar}}
        {{>partials/footer.mustache}}
    </body>
</html>
