<footer class="style-secondary flex-vertical">
    <p><a href="//codeberg.org/LunarWatcher/Jade">Jade</a> {{Server.Version}}</p>
    <p><a href="/licenses.html">Open-source licenses</a></p>
</footer>
