<h1>Open-source licenses</h1>

<details>
    <summary>This page does not describe the licenses of the ebooks</summary>
    
    <div>
        <p>This page lists the open-source licenses used by the software powering this website. For information about the ebook licenses, contact the owner of this instance, or if applicable, the ebook uploader.</p>
    </div>
</details>

<p>Jade is licensed under the <a href="https://codeberg.org/LunarWatcher/jade/src/branch/master/LICENSE">MIT license</a>. The following libraries are used by and/or bundled with Jade:</p>

<h2>Backend</h2>
<ul>
    {{! I'm _fairly_ certain OpenSSL is guaranteed Apache 2.0, because I think I'm using function calls that are incompatible with OpenSSL 1.x }}
    <li>OpenSSL: <a href="https://www.openssl.org/source/license.html">Apache 2.0</a></li>
    <li>hanickadot/compile-time-regular-expressions: <a href="https://github.com/hanickadot/compile-time-regular-expressions/blob/main/LICENSE">Apache 2.0</a></li>
</ul>
<ul>
    <li>Catch2: <a href="https://github.com/catchorg/Catch2/blob/devel/LICENSE.txt">Boost Software License 1.0</a></li>
    <li>chriskohlhoff/asio: <a href="https://github.com/chriskohlhoff/asio/blob/master/asio/LICENSE_1_0.txt">Boost Software License - Version 1.0</a></li>
</ul>
<ul>
    <li>CLIUtils/CLI11: <a href="https://github.com/CLIUtils/CLI11/blob/main/LICENSE">BSD 3-Clause License</a></li>
    <li>CrowCpp/crow: <a href="https://github.com/CrowCpp/Crow/blob/master/LICENSE">BSD 3-Clause License</a></li>
    <li>pqxx: <a href="https://github.com/jtv/libpqxx/blob/master/COPYING">BSD 3-Clause License</a></li>
</ul>
<ul>
    <li>gabime/spdlog: <a href="https://github.com/gabime/spdlog/blob/v1.x/LICENSE">MIT License</a></li>
    <li>libcpr/cpr: <a href="https://github.com/libcpr/cpr/blob/master/LICENSE">MIT License</a></li>
    <li>LunarWatcher/stc: <a href="https://github.com/LunarWatcher/stc/blob/master/LICENSE">MIT License</a></li>
    <li>getml/reflect-cpp: <a href="https://github.com/getml/reflect-cpp/blob/main/LICENSE">MIT License</a></li>
    <li>ibireme/yyjson: <a href="https://github.com/ibireme/yyjson/blob/master/LICENSE">MIT License</a></li>
</ul>

<h2>Frontend</h2>

<ul>
    <li>johnfactotum/foliate-js: <a href="https://github.com/johnfactotum/foliate-js/blob/main/LICENSE">MIT License</a></li>
    <li>101arrowz/fflate: <a href="https://github.com/101arrowz/fflate/blob/master/LICENSE">MIT License</a></li>
    <li>gildas-lormeau/zip.js: <a href="https://github.com/gildas-lormeau/zip.js/blob/master/LICENSE">BSD 3-Clause "New" or "Revised" License</a></li>
    <li>mozilla/pdf.js: <a href="https://github.com/mozilla/pdf.js/blob/master/LICENSE">Apache License 2.0</a></li>
</ul>
