<h1>Open-source licenses</h1>

Jade is licensed under the <a href="https://codeberg.org/LunarWatcher/jade/src/branch/master/LICENSE">MIT license</a>. The following libraries are used by and/or bundled with Jade:

<h2>Backend</h2>
<ul>
    <!-- I'm _fairly_ certain OpenSSL is guaranteed Apache 2.0, because I think I'm using function calls that are incompatible with OpenSSL 1.x -->
    <li>OpenSSL: <a href="https://www.openssl.org/source/license.html">Apache 2.0</a></li>
</ul>
<ul>
    <li>CrowCpp/crow: <a href="https://github.com/CrowCpp/Crow/blob/master/LICENSE">BSD 3-Clause License</a></li>
    <li>CLIUtils/CLI11: <a href="https://github.com/CLIUtils/CLI11/blob/main/LICENSE">BSD 3-Clause License</a></li>
    <li>libuuid: <a href="https://github.com/util-linux/util-linux/blob/master/libuuid/COPYING">BSD 3-Clause License</a></li>
    <li>pqxx: <a href="https://github.com/jtv/libpqxx/blob/master/COPYING">BSD 3-Clause License</a></li>
</ul>
<ul>
    <li>nlohmann/json: <a href="https://github.com/nlohmann/json/blob/develop/LICENSE.MIT">MIT License</a></li>
    <li>libcpr/cpr: <a href="https://github.com/libcpr/cpr/blob/master/LICENSE">MIT License</a></li>
    <li>gabime/spdlog: <a href="https://github.com/gabime/spdlog/blob/v1.x/LICENSE">MIT License</a></li>
    <li>LunarWatcher/stc: <a href="https://github.com/LunarWatcher/stc/blob/master/LICENSE">MIT License</a></li>
    
    <li>fmtlib/fmt: <a href="https://github.com/fmtlib/fmt/blob/master/LICENSE">Modified MIT License</a></li>
</ul>
<ul>
    <li>Catch2: <a href="https://github.com/catchorg/Catch2/blob/devel/LICENSE.txt">Boost Software License 1.0</a></li>
</ul>

<h2>Frontend</h2>

<ul>
    <li>foliate-js: <a href="https://github.com/johnfactotum/foliate-js/blob/main/LICENSE">MIT License</a></li>
</ul>

