<div class="flex-vertical grow center-items">
    <div class="boxed-container flex-vertical boxed-container">
        <h1>Log in</h1>

        <form id="login-form" class="flex-vertical grow">
            <label for="username">Username</label>
            <input type="text" name="username" minlength="3" maxlength="64" />

            <label for="password">Password</label>
            <input type="password" name="password" minlength="3" maxlength="256" />

            <input type="submit" id="submit" value="Log in" />
        </form>
    </div>
</div>
