<div class="flex-vertical grow center-items">
    <div class="boxed-container flex-vertical boxed-container">
        <h1>Sign up</h1>

        <form id="signup-form" class="flex-vertical grow" onsubmit="signup(event)">
            <label for="username">Username</label>
            <input type="text" name="username" />

            <label for="password">Password</label>
            <input type="password" name="password" />

            <input type="submit" id="submit" value="Sign up" />
        </form>
    </div>
</div>

