<h1>Search help</h1>

<h2>TL;DR:</h2>

<table>
    <thead>
        <tr>
            <th>Purpose</th>
            <th>Syntax</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tag search</td>
            <td><code>tag:tag_name</code></td>
            <td><code>tag:Genres/Sci-fi</code></td>
        </tr>
        <tr>
            <td>Author search</td>
            <td><code>author:"Author Name"</code></td>
            <td><code>author:"James S. A. Corey"</code></td>
        </tr>
    </tbody>
</table>
