[Unit]
Description=Ebook server
Wants=network-online.target
After=network.target

[Service]
Restart=on-failure
RestartSec=60s
Type=idle
WorkingDirectory=/opt/jade/dist
Environment="SPDLOG_LEVEL=info"
ExecStart=/opt/jade/dist/bin/jade run
User=jade

[Install]
WantedBy=multi-user.target
